<footer class="main-footer">
    <div class="container main-footer__container">
        <div class="main-footer__copy">
            Все права защищены. Цитирование материалов обязательно со ссылкой на сайт. Агентство Интернет-Маркетинга «Про Премиум», 2007-2016.
        </div>
        <div class="main-footer__contacts">
            {{> contacts }}
        </div>
    </div>
</footer>