<nav id="nav">
    <ul class="nav__menu">
        <li><a href="#"><span class="nav__title">О нас</span></a></li>
        <li><a href="#"><span class="nav__title">Что делаем</span></a></li>
        <li><a href="#"><span class="nav__title">Как делаем</span></a></li>
        <li><a href="#"><span class="nav__title">Портфолио и кейсы</span></a></li>
        <li><a href="#"><span class="nav__title">Клиенты и отзывы</span></a></li>
        <li><a href="#"><span class="nav__title">Новости и события</span></a></li>
        <li><a href="#"><span class="nav__title">FAQ</span></a></li>
        <li><a href="#"><span class="nav__title">Полезное</span></a></li>
    </ul>
</nav>