<div class="contacts">
    <div class="contacts__links">
        <a href="#" class="contacts__link">Карта сайта</a>
        <a href="#" class="contacts__link">Контакты</a>
    </div>
    <a href="tel:7(499)4042767" class="contacts__phone">+7 (499) 404-27-67</a>
    <a href="mailto:hello@propremuim.ru" class="contacts__email">hello@propremuim.ru</a>
</div>