<header class="main-header">
    <div class="main-header__intro">
        <div class="container main-header__container">
            <div class="logo">
                <a href="/" class="logo__link">
                    <img src="./images/logo.png" alt="" class="logo__icon">
                </a>
                <h1 class="logo__slogan">Разработка продающих сайтов,<br>
                    landing page и технически<br>
                    сложных проектов
                </h1>
            </div>
            <div class="main-header__contacts">
                <a href="#" class="order-call">
                    <div class="order-call__title order-call__title_top">Закажите</div>
                    <img src="./images/order-call.png" alt="" class="order-call__icon">
                    <div class="order-call__title">консультацию</div>
                </a>
                {{> contacts }}
            </div>
            <div class="main-header__menu-toggle">
                {{> menu-toggle }}
            </div>
        </div>
    </div>
    <div class="main-header__nav">
        <div class="container main-nav__container main-menu">
            {{> nav }}
        </div>
    </div>
</header>


